@{
    ViewBag.Title = "Inicio - Bufins Web";
}

<div class="container">
    <div class="jumbotron mt-5">
        <h1 class="display-4">¡Hola Mundo!</h1>
        <p class="lead">@ViewBag.Message</p>
        <hr class="my-4">
        <p>Este es un proyecto ASP.NET MVC 5 con .NET Framework 4.8</p>
        <p><strong>Fecha y hora actual:</strong> @ViewBag.DateTime</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="@Url.Action("About", "Home")" role="button">Acerca de</a>
            <a class="btn btn-secondary btn-lg" href="@Url.Action("Contact", "Home")" role="button">Contacto</a>
        </p>
    </div>

    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Característica 1</h5>
                    <p class="card-text">Tu proyecto está limpio y listo para comenzar a desarrollar.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Característica 2</h5>
                    <p class="card-text">Configuración completa con sesiones y conexión a base de datos.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Característica 3</h5>
                    <p class="card-text">Estructura de carpetas siguiendo las mejores prácticas.</p>
                </div>
            </div>
        </div>
    </div>
</div>
